*{
	font-family: 'Montserrat', Helvetica, sans-serif;
}

body{
	/*background-image: url("../img/1.jpg");*/
	background-size: cover;
	background-repeat: no-repeat;	
}

/*textarea[name=foo] {*/
textarea{
    resize: none;
}

.ui-helper-hidden-accessible{
	display:none;
}


ul{
    list-style-type: none;
}

div[id^="tp"]{
	/*float: left;*/
}

/*label { display: inline-block; width: 140px; text-align: right; }​*/